# Data Cleaning

In [6]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
# Reading weather1 dataset which is in comman separetad variables format while indexing "DATE" column of the data frame.
weather1 = pd.read_csv("weather1.csv", index_col="DATE")

In [8]:
# calling weather1 dataset which is a historical data of weather conditions around JFK INTERNATIONAL AIRPORT, NY US
weather1

,STATION,NAME,ACMH,ACSH,AWND,FMTM,PGTM,PRCP,SNOW,SNWD,...,WT11,WT13,WT14,WT15,WT16,WT17,WT18,WT21,WT22,WV01
DATE,,,,,,,,,,,,,,,,,,,,,
1970-01-01,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",80.0,90.0,NaN,NaN,NaN,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970-01-02,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",30.0,20.0,NaN,NaN,NaN,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970-01-03,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",80.0,100.0,NaN,NaN,NaN,0.02,0.0,0.0,...,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN
1970-01-04,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",10.0,20.0,NaN,NaN,NaN,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
1970-01-05,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",30.0,10.0,NaN,NaN,NaN,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-19,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",NaN,NaN,14.99,NaN,NaN,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-10-20,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",NaN,NaN,16.78,NaN,NaN,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-10-21,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",NaN,NaN,6.26,NaN,NaN,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-10-22,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",NaN,NaN,4.25,NaN,NaN,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-10-23,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",NaN,NaN,10.74,NaN,NaN,0.03,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Examining the dataset
weather1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19289 entries, 1970-01-01 to 2022-10-23
Data columns (total 44 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   STATION  19289 non-null  object
 1   NAME     19289 non-null  object
 2   ACMH     9615 non-null   float64
 3   ACSH     9616 non-null   float64
 4   AWND     14174 non-null  float64
 5   FMTM     10124 non-null  float64
 6   PGTM     12267 non-null  float64
 7   PRCP     19289 non-null  float64
 8   SNOW     19289 non-null  float64
 9   SNWD     19289 non-null  float64
 10  TAVG     6166 non-null   float64
 11  TMAX     19289 non-null  int64
 12  TMIN     19289 non-null  int64
 13  TSUN     31 non-null     float64
 14  WDF1     9611 non-null   float64
 15  WDF2     9672 non-null   float64
 16  WDF5     9589 non-null   float64
 17  WDFG     5121 non-null   float64
 18  WDFM     1 non-null      float64
 19  WESD     6071 non-null   float64
 20  WSF1     9614 non-null   float64
 21  WSF2     9672 non-null   float64
 22  WSF5     9588 non-null   float64
 23  WSFG     7463 non-null   float64
 24  WSFM     1 non-null      float64
 25  WT01     7132 non-null   float64
 26  WT02     1253 non-null   float64
 27  WT03     1287 non-null   float64
 28  WT04     336 non-null    float64
 29  WT05     364 non-null    float64
 30  WT06     181 non-null    float64
 31  WT07     108 non-null    float64
 32  WT08     3916 non-null   float64
 33  WT09     140 non-null    float64
 34  WT11     14 non-null     float64
 35  WT13     2185 non-null   float64
 36  WT14     887 non-null    float64
 37  WT15     42 non-null     float64
 38  WT16     6577 non-null   float64
 39  WT17     60 non-null     float64
 40  WT18     1167 non-null   float64
 41  WT21     5 non-null      float64
 42  WT22     49 non-null     float64
 43  WV01     1 non-null      float64
dtypes: float64(40), int64(2), object(2)
memory usage: 6.6+ MB

In [11]:
# examining the first 5 rows
weather1.head()

,STATION,NAME,ACMH,ACSH,AWND,FMTM,PGTM,PRCP,SNOW,SNWD,...,WT11,WT13,WT14,WT15,WT16,WT17,WT18,WT21,WT22,WV01
DATE,,,,,,,,,,,,,,,,,,,,,
1970-01-01,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",80.0,90.0,NaN,NaN,NaN,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970-01-02,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",30.0,20.0,NaN,NaN,NaN,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970-01-03,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",80.0,100.0,NaN,NaN,NaN,0.02,0.0,0.0,...,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN
1970-01-04,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",10.0,20.0,NaN,NaN,NaN,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
1970-01-05,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",30.0,10.0,NaN,NaN,NaN,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# Checking the summary statistics of the dataset using describe() function
print(weather1.describe())

              ACMH         ACSH          AWND          FMTM          PGTM  \
count  9615.000000  9616.000000  14174.000000  10124.000000  12267.000000
mean     57.886635    60.665557     11.233450   1438.505828   1383.888481
std      30.612050    33.353307      4.791674    758.281872    631.358389
min       0.000000     0.000000      0.220000      0.000000      0.000000
25%      30.000000    30.000000      8.280000   1101.750000   1023.000000
50%      60.000000    70.000000     10.510000   1526.000000   1458.000000
75%      80.000000    90.000000     13.420000   1850.000000   1837.000000
max     100.000000   100.000000    308.030000  32767.000000   2359.000000

               PRCP          SNOW          SNWD         TAVG          TMAX  \
count  19289.000000  19289.000000  19289.000000  6166.000000  19289.000000
mean       0.117858      0.064664      0.209601    55.555303     61.820208
std        0.330958      0.598925      1.272715    16.564067     17.409594
min        0.000000      0.000000      0.000000     8.000000      8.000000
25%        0.000000      0.000000      0.000000    43.000000     48.000000
50%        0.000000      0.000000      0.000000    56.000000     62.000000
75%        0.040000      0.000000      0.000000    71.000000     77.000000
max        7.800000     30.300000     28.000000    91.000000    103.000000

       ...  WT11    WT13   WT14  WT15    WT16  WT17    WT18  WT21  WT22  WV01
count  ...  14.0  2185.0  887.0  42.0  6577.0  60.0  1167.0   5.0  49.0   1.0
mean   ...   1.0     1.0    1.0   1.0     1.0   1.0     1.0   1.0   1.0   1.0
std    ...   0.0     0.0    0.0   0.0     0.0   0.0     0.0   0.0   0.0   NaN
min    ...   1.0     1.0    1.0   1.0     1.0   1.0     1.0   1.0   1.0   1.0
25%    ...   1.0     1.0    1.0   1.0     1.0   1.0     1.0   1.0   1.0   1.0
50%    ...   1.0     1.0    1.0   1.0     1.0   1.0     1.0   1.0   1.0   1.0
75%    ...   1.0     1.0    1.0   1.0     1.0   1.0     1.0   1.0   1.0   1.0
max    ...   1.0     1.0    1.0   1.0     1.0   1.0     1.0   1.0   1.0   1.0

[8 rows x 42 columns]

In [13]:
# Calculating the null percentage while using pd.isnull.sum() to sum all the null values in each column then divided by the total number of rows to get the percentage of null values
null_pct = weather1.apply(pd.isnull).sum()/weather1.shape[0]

In [14]:
# Calling the percentage of null values in each column
null_pct

STATION    0.000000
NAME       0.000000
ACMH       0.501529
ACSH       0.501478
AWND       0.265177
FMTM       0.475141
PGTM       0.364042
PRCP       0.000000
SNOW       0.000000
SNWD       0.000000
TAVG       0.680336
TMAX       0.000000
TMIN       0.000000
TSUN       0.998393
WDF1       0.501737
WDF2       0.498574
WDF5       0.502877
WDFG       0.734512
WDFM       0.999948
WESD       0.685261
WSF1       0.501581
WSF2       0.498574
WSF5       0.502929
WSFG       0.613096
WSFM       0.999948
WT01       0.630256
WT02       0.935041
WT03       0.933278
WT04       0.982581
WT05       0.981129
WT06       0.990616
WT07       0.994401
WT08       0.796983
WT09       0.992742
WT11       0.999274
WT13       0.886723
WT14       0.954015
WT15       0.997823
WT16       0.659028
WT17       0.996889
WT18       0.939499
WT21       0.999741
WT22       0.997460
WV01       0.999948
dtype: float64

In [15]:
# Checking out columns which are valid in the weather1 dataset i.e. where the percentage of null values is less than 0.5
valid_columns = weather1.columns[null_pct < .05]

In [16]:
# Calling the valid columns
valid_columns

Index(['STATION', 'NAME', 'PRCP', 'SNOW', 'SNWD', 'TMAX', 'TMIN'], dtype='object')

In [18]:
# Changing the dataset to include only the valid columns using copy() function
weather1 = weather1[valid_columns].copy()